Repository ExMod-Team/EXILED, pull requests merged in 2024-09, with the labels that each got.

#83 DroppingScp330 Event Fix.
  EXILED/Exiled.Events/Patches/Events/Scp330/DroppingCandy.cs
Labels: regarding-events, regarding-transpiler

#77 ``[Exiled::CustomItems]`` ``[Exiled::API]`` ``[Exiled::CustomRoles]`` Adding news Spawnpoints, Wrapper for Locker and added LockerType
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Spawn/LockerSpawnPoint.cs
  EXILED/Exiled.API/Features/Spawn/RoomSpawnPoint.cs
  EXILED/Exiled.API/Features/Spawn/SpawnProperties.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomItems/Commands/Info.cs
  EXILED/Exiled.CustomItems/CustomItems.cs
  EXILED/Exiled.CustomItems/Events/MapHandler.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
  EXILED/Exiled.Events/Patches/Generic/LockerList.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#65 `[Exiled::API]` Adding new properties for `FpcRole`
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Roles/IVoiceRole.cs
  EXILED/Exiled.API/Features/Roles/NoneRole.cs
  EXILED/Exiled.API/Features/Roles/Scp0492Role.cs
  EXILED/Exiled.API/Features/Roles/Scp049Role.cs
  EXILED/Exiled.API/Features/Roles/Scp079Role.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.API/Features/Roles/SpectatorRole.cs
  EXILED/Exiled.Events/Patches/Events/Player/VoiceChatting.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#87 Scp0492 change apperance fix
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#92 Exmod master
  .github/documentation/GettingStarted.md
  .github/documentation/README.md
  .github/documentation/localization/GettingStarted-BR.md
  .github/documentation/localization/GettingStarted-FR.md
  .github/documentation/localization/GettingStarted-KR.md
  .github/documentation/localization/GettingStarted-ไทย.md
  .github/documentation/localization/README-BR.md
  .github/documentation/localization/README-CS.md
  .github/documentation/localization/README-DE.md
  .github/documentation/localization/README-DK.md
  .github/documentation/localization/README-ES.md
  .github/documentation/localization/README-FR.md
  .github/documentation/localization/README-IT.md
  .github/documentation/localization/README-KR.md
  .github/documentation/localization/README-PL.md
  .github/documentation/localization/README-TR.md
  .github/documentation/localization/README-Русский.md
  .github/documentation/localization/README-ไทย.md
  .github/documentation/localization/README-中文.md
  .github/workflows/programs.yml
Labels: GitHub

#95 Fixing `Recontaining` event patch
  EXILED/Exiled.Events/Patches/Events/Scp079/Recontaining.cs
Labels: regarding-events, regarding-transpiler

#93 Exmod master
  .github/documentation/README.md
  .github/documentation/localization/README-BR.md
  .github/documentation/localization/README-CS.md
  .github/documentation/localization/README-DE.md
  .github/documentation/localization/README-DK.md
  .github/documentation/localization/README-ES.md
  .github/documentation/localization/README-FR.md
  .github/documentation/localization/README-IT.md
  .github/documentation/localization/README-KR.md
  .github/documentation/localization/README-PL.md
  .github/documentation/localization/README-TR.md
  .github/documentation/localization/README-Русский.md
  .github/documentation/localization/README-ไทย.md
  .github/documentation/localization/README-中文.md
  EXILED/docs/articles/index.md
  EXILED/docs/articles/installation/index.md
Labels: GitHub

#94 Using lockers everywhere
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.Events/EventArgs/Map/FillingLockerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingLockerEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#60 Github Packages
  .github/workflows/push_nuget.yml
Labels: GitHub

#36 Modify Labeler
  .github/labeler.yml
Labels: GitHub

#74 `[Exiled::API]` New way to register parent commands
  EXILED/Exiled.API/Features/Plugin.cs
  EXILED/Exiled.Events/Commands/Config/EConfig.cs
  EXILED/Exiled.Events/Commands/Config/Merge.cs
  EXILED/Exiled.Events/Commands/Config/Split.cs
  EXILED/Exiled.Events/Commands/PluginManager/Disable.cs
  EXILED/Exiled.Events/Commands/PluginManager/Enable.cs
  EXILED/Exiled.Events/Commands/PluginManager/Patches.cs
  EXILED/Exiled.Events/Commands/PluginManager/PluginManager.cs
  EXILED/Exiled.Events/Commands/PluginManager/Show.cs
  EXILED/Exiled.Events/Commands/Reload/All.cs
  EXILED/Exiled.Events/Commands/Reload/Configs.cs
  EXILED/Exiled.Events/Commands/Reload/GamePlay.cs
  EXILED/Exiled.Events/Commands/Reload/Permissions.cs
  EXILED/Exiled.Events/Commands/Reload/Plugins.cs
  EXILED/Exiled.Events/Commands/Reload/Reload.cs
  EXILED/Exiled.Events/Commands/Reload/RemoteAdmin.cs
  EXILED/Exiled.Events/Commands/Reload/Translations.cs
Labels: regarding-events, regarding-api

#75 Allow `ID_Dedicated`/`null` for `Npc.UserId` Parameter
  EXILED/Exiled.API/Features/Npc.cs
Labels: regarding-api

#96 [Events] Fix crash
  EXILED/Exiled.Events/Patches/Generic/DoorList.cs
Labels: bug, regarding-events, regarding-transpiler

#103 Random fixes
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Server/UnbannedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/UnbanningEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#101 `[EXILED::Events]` Introduce `hub install` command
  EXILED/Exiled.Events/Commands/Hub/Hub.cs
  EXILED/Exiled.Events/Commands/Hub/HubApi/ApiProvider.cs
  EXILED/Exiled.Events/Commands/Hub/HubApi/Models/HubPlugin.cs
  EXILED/Exiled.Events/Commands/Hub/Install.cs
  EXILED/Exiled.Events/Exiled.Events.csproj
  EXILED/Exiled.Loader/LinuxPermission.cs
Labels: enhancement, regarding-events

#111 SrLitch crash fix
  EXILED/Exiled.Events/EventArgs/Player/InteractingLockerEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
Labels: Events, Transpiler

#113 dev fetching
  .github/README.md
  .github/workflows/push_nuget.yml
  EXILED/EXILED.props
Labels: base-game-bug, GitHub, Events, API, Transpiler, CustomModules

#115 Fix keycard throw interaction
  EXILED/Exiled.Events/Patches/Events/Item/KeycardInteracting.cs
Labels: Events, Transpiler

#117 `[EXILED::Events]` Fix downloading NWAPI plugins with `hub install`
  EXILED/Exiled.Events/Commands/Hub/Install.cs
Labels: enhancement, Events
