Repository ExMod-Team/EXILED, pull requests merged in 2024-11, with the labels that each got.

#164 Strange CustomRole:UnsubscribeEvents()
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: Events, CustomModules

#110 Fix RoomSpawnpoint
  EXILED/Exiled.API/Features/Spawn/RoomSpawnPoint.cs
  EXILED/Exiled.CustomItems/CustomItems.cs
  EXILED/Exiled.CustomItems/Events/MapHandler.cs
Labels: Events, API, CustomModules

#165 JailBirdHitReg Fix
  EXILED/Exiled.Events/Patches/Fixes/JailbirdHitRegFix.cs
Labels: Events, Transpiler, base-game-bug

#169 Fix UnbannedEventArgs not correctly getting it's inherit interface
  EXILED/Exiled.Events/EventArgs/Server/UnbannedEventArgs.cs
Labels: bug, Events

#160 Added CanInteract in InteractingDoor
  EXILED/Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: Events, Transpiler

#88 Player::FakeScale
  EXILED/Exiled.API/Features/Player.cs
Labels: enhancement, API

#170 v8.14.0
  EXILED/EXILED.props
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Round.cs
  EXILED/Exiled.API/Features/Spawn/RoomSpawnPoint.cs
  EXILED/Exiled.CustomItems/CustomItems.cs
  EXILED/Exiled.CustomItems/Events/MapHandler.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/Commands/Hub/Install.cs
  EXILED/Exiled.Events/EventArgs/Map/PlacingPickupIntoPocketDimensionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RoundEndedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/UnbannedEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/PlacingPickupIntoPocketDimension.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
  EXILED/Exiled.Events/Patches/Events/Server/Reporting.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/JailbirdHitRegFix.cs
  EXILED/Exiled.Loader/Loader.cs
  EXILED/Exiled.Loader/Updater.cs
Labels: Events, Transpiler, API, base-game-bug, CustomModules

#31 `[Exiled::Events]` `[Exiled::API]` New event + new property
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/EscapedEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingAndEscaped.cs
Labels: Events, Transpiler, API

#91 [EXILED::Events] BeingObserved event stolen
  EXILED/Exiled.Events/EventArgs/Scp173/BeingObservedEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp173.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/BeingObserved.cs
Labels: Events, Transpiler

#182 Nw documentation
  .github/labeler.yml
  EXILED/EXILED.sln
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.tt
  EXILED/docs/articles/toc.yml
  EXILED/docs/docs.csproj
Labels: documentation, GitHub, Events

#33 Friendly fire update
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

#177 Add role checks (like IsScp) to Role Extensions / RoleTypeId
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#188 Update RoleExtensions.IsMilitary to reflect how the wiki categorizes guards
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
Labels: API

#192 Added a BanManager
  EXILED/Exiled.API/Features/BanManager.cs
Labels: enhancement, API

#191 docs: clearer documentation on item events
  EXILED/Exiled.Events/Handlers/Player.cs
Labels: documentation

#184 Scp330 interacting fix
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Transpiler, API

#179 Updated CustomItems & CustomRoles give commands to use default RAUtils.ProcessPlayerIdOrNamesList
  EXILED/Exiled.CustomItems/Commands/Give.cs
  EXILED/Exiled.CustomRoles/Commands/Give.cs
Labels: CustomModules

#196 finals
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.Events/EventArgs/Map/PlacingBulletHoleEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/SpawningTeamVehicleEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/EscapedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Handlers/Server.cs
  EXILED/Exiled.Events/Patches/Events/Item/ChangingAmmo.cs
  EXILED/Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  EXILED/Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningTeamVehicle.cs
  EXILED/Exiled.Events/Patches/Events/Player/DamagingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Player/EnteringKillerCollision.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingAndEscaped.cs
  EXILED/Exiled.Events/Patches/Events/Player/Hurting.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingElevator.cs
  EXILED/Exiled.Events/Patches/Events/Player/Joined.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
  EXILED/Exiled.Events/Patches/Events/Player/Spawning.cs
  EXILED/Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  EXILED/Exiled.Events/Patches/Events/Scp106/Stalking.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
  EXILED/Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
  EXILED/Exiled.Events/Patches/Fixes/ArmorDropPatch.cs
  EXILED/Exiled.Events/Patches/Fixes/FixOnAddedBeingCallAfterOnRemoved.cs
  EXILED/Exiled.Events/Patches/Fixes/FixPickupPreviousOwner.cs
  EXILED/Exiled.Events/Patches/Fixes/NWFixDetonationTimer.cs
  EXILED/Exiled.Events/Patches/Fixes/NWFixScp096BreakingDoor.cs
  EXILED/Exiled.Events/Patches/Generic/PickupControlPatch.cs
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: Transpiler, API, base-game-bug, CustomModules

#208 Master to Exiled 9
  .github/dependabot.yml
  .github/workflows/dev.yml
  .github/workflows/push_nuget.yml
Labels: GitHub

#229 Fix PlacingBulletHole
  EXILED/Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
Labels: Transpiler

#214 Room toString fix
  EXILED/Exiled.API/Features/Room.cs
Labels: API

#209 14.0 role fixes
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Roles/DestroyedRole.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
Labels: API

#207 Hcz bulk door fix
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
Labels: API

#205 Scp3144 severed hands fix
  EXILED/Exiled.API/Enums/DamageType.cs
  EXILED/Exiled.API/Extensions/DamageTypeExtensions.cs
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
Labels: API

#231 Scp330 interobject fix
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Transpiler

#239 New Prefabs
  EXILED/Exiled.API/Enums/PrefabType.cs
Labels: API

#242 Fix UpgradingItem patch
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingItem.cs
Labels: Transpiler

#245 Fixing SpawningEventArg
  EXILED/Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: Transpiler

#236 CustomItems and CustomRoles fix
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#247 Fix UpgradingPlayer patch
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: Transpiler

#244 yipee
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Roles/Scp106Role.cs
  EXILED/Exiled.API/Features/Window.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradingPlayerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Events/Map/FillingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningTeamVehicle.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/Joined.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
  EXILED/Exiled.Events/Patches/Events/Player/Spawning.cs
  EXILED/Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  EXILED/Exiled.Events/Patches/Events/Scp106/ExitStalking.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/Fix106RegenerationWithScp244.cs
  EXILED/Exiled.Events/Patches/Generic/PocketDimensionTeleportList.cs
  Exiled/Exiled.Events/Patches/Events/Server/WaitingForPlayers.cs
Labels: Transpiler, API, base-game-bug

#254 Readd fixes
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Roles/Scp106Role.cs
  EXILED/Exiled.API/Features/Window.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradingPlayerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Events/Map/FillingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningTeamVehicle.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/Joined.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
  EXILED/Exiled.Events/Patches/Events/Player/Spawning.cs
  EXILED/Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  EXILED/Exiled.Events/Patches/Events/Scp106/ExitStalking.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Events/Server/WaitingForPlayers.cs
  EXILED/Exiled.Events/Patches/Fixes/Fix106RegenerationWithScp244.cs
  EXILED/Exiled.Events/Patches/Generic/PocketDimensionTeleportList.cs
Labels: Transpiler, API, base-game-bug

#252 `[Exiled::API]` RoomType & ZoneType & GlassType fix
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Enums/ZoneType.cs
  EXILED/Exiled.API/Features/Respawn.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

#256 Scp330 Fix
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Transpiler

#258 Temp fix for RestartingRound
  EXILED/Exiled.Events/Patches/Events/Server/RestartingRound.cs
Labels: Transpiler

#261 Fix InteractingScp330
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
Labels: Transpiler

#268 Fix `Exiled.Events.EventArgs.Scp079.ElevatorTeleportingEventArgs` & Lift.List empty
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.Events/EventArgs/Scp079/ElevatorTeleportingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/ElevatorTeleporting.cs
  EXILED/Exiled.Events/Patches/Generic/LiftList.cs
Labels: Transpiler, API

#270 Fix Flashbang & HE
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler, API

#263 Fix Shot event
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

#272 Fix ChangingItem patch
  EXILED/Exiled.Events/Patches/Events/Player/ChangingItem.cs
Labels: Transpiler

#260 Add Door.Repair
  EXILED/Exiled.API/Features/Doors/BreakableDoor.cs
  EXILED/Exiled.API/Features/Doors/CheckpointDoor.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Interfaces/IDamageableDoor.cs
Labels: API

#274 Individual ff
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

#266 Rework PrefabHelper
  EXILED/Exiled.API/Features/PrefabHelper.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/ClientStarted.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: Events, API

#232 Round end fix
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

#279 Fix Player comparison
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#264 Add Scp1344 Events and Scp1344 Item
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp1344.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp1344Event.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangedStatusEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangingStatusEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/DeactivatedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/DeactivatingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/TryingDeactivatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp1344.cs
  EXILED/Exiled.Events/Patches/Events/Scp1344/Deactivating.cs
  EXILED/Exiled.Events/Patches/Events/Scp1344/Status.cs
Labels: Transpiler, API
