Repository ExMod-Team/EXILED, pull requests merged in 2024-12, with the labels that each got.

#278 Fix OnShotEvent
  EXILED/Exiled.Events/EventArgs/Player/ShotEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

#281 Fix VoiceChatting event (VoiceMessage setter)
  EXILED/Exiled.Events/Patches/Events/Player/VoiceChatting.cs
Labels: Transpiler

#282 Fix ChangingRoleAndSpawned
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: Transpiler

#267 MoreRoomType
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

#292 No var
  EXILED/Exiled.Events/Patches/Events/Scp1344/Deactivating.cs
Labels: Transpiler

#269 Removing typeLookupTable
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: CustomModules

#287 Few fix of fix
  EXILED/Exiled.Events/Patches/Fixes/Fix106RegenerationWithScp244.cs
  EXILED/Exiled.Events/Patches/Fixes/NWFixDetonationTimer.cs
  EXILED/Exiled.Events/Patches/Fixes/PositionSpawnScp0492Fix.cs
  EXILED/Exiled.Events/Patches/Fixes/Scp3114FriendlyFireFix.cs
Labels: Transpiler, base-game-bug

#286 feat: timed waves
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
Labels: API

#289 New Shot patch
  EXILED/Exiled.Events/EventArgs/Player/ShotEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

#295 Update `Quaternion`
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp244.cs
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  EXILED/Exiled.API/Features/PrefabHelper.cs
  EXILED/Exiled.API/Features/Ragdoll.cs
Labels: API

#294 Update files
  EXILED/EXILED.props
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.Loader/Exiled.Loader.csproj
  EXILED/Exiled/Exiled.nuspec
Labels: GitHub, API

#293 Add docs to some RoomType & remove types no longer present
  EXILED/Exiled.API/Enums/CameraType.cs
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
  EXILED/Exiled.API/Features/Camera.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

#298 docs: add EzStraightColumn type
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

#297 little nw fix again
  EXILED/Exiled.API/Features/Round.cs
Labels: API

#301 Fix DroppingCandy event
  EXILED/Exiled.Events/EventArgs/Scp330/DroppingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/DroppingCandy.cs
Labels: Transpiler

#304 Fix EndingRound event
  EXILED/Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

#257 Added Emotion Events and Player.Emotion
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangedEmotionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingEmotionEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/Emotion.cs
Labels: Transpiler, API

#235 Scp1344Item & move Prefabs
  EXILED/Exiled.API/Features/Doors/ElevatorDoor.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp1344.cs
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.API/Features/Toys/Light.cs
  EXILED/Exiled.API/Features/Toys/Primitive.cs
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
  EXILED/Exiled.API/Features/Toys/Speaker.cs
  EXILED/Exiled.API/Features/Toys/ToysHelper.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: Events, API

#249 New Shooting patch
  EXILED/Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: Transpiler, base-game-bug

#303 A lot of breaking changes
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Respawn.cs
  EXILED/Exiled.API/Features/Toys/Light.cs
  EXILED/Exiled.API/Features/Toys/Primitive.cs
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomRoles/API/Features/ActiveAbility.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/ChangedIntoGrenadeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/FillingLockerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangedItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMoveStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DyingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/EscapedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingLockerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/KillingPlayerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/TransmittingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp049/ActivatingSenseEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp0492/ConsumedCorpseEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp106/ExitStalkingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp106/StalkingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp173/BlinkingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradingInventoryItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradingPickupEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/LocalReportingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Handlers/Server.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMoveState.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/DamagingWindow.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingAndEscaped.cs
  EXILED/Exiled.Events/Patches/Events/Player/ThrownProjectile.cs
  EXILED/Exiled.Events/Patches/Events/Player/TogglingRadio.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/Recontain.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/BeingObserved.cs
  EXILED/Exiled.Events/Patches/Events/Scp3114/Strangling.cs
  EXILED/Exiled.Events/Patches/Events/Server/Reporting.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/HurtingFix.cs
  EXILED/Exiled.Events/Patches/Fixes/Jailbird914CoarseFix.cs
  EXILED/Exiled.Events/Patches/Fixes/KillPlayer.cs
  EXILED/Exiled.Events/Patches/Generic/Scp079Recontain.cs
Labels: Transpiler, API, base-game-bug, CustomModules

#246 Respawn API changes
  EXILED/Exiled.API/Enums/SpawnableFaction.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Respawn.cs
Labels: API

#241 New NPC Api
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#123 Making TargetsToAffect a Hashset
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/BreakingScp2176.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: Transpiler, breaking-changes

#308 Fix BeginOvercharge
  EXILED/Exiled.API/Features/Recontainer.cs
Labels: API

#306 Server RoundEnding small change
  EXILED/Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

#310 New game update
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Respawn.cs
  EXILED/Exiled.API/Features/Roles/HumanRole.cs
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingChaosEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingNtfEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingChaosEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Server/AddingUnitName.cs
  EXILED/Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
Labels: Transpiler, API

#312 ci: add a new workflow to validate pr title
  .github/workflows/pull_request_opened.yml
Labels: GitHub

#313 fix: fix respawning and selecting team events that make server crash
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
  EXILED/Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
Labels: Transpiler, API

#314 fix: fix announcing ntf/chaos entrance events
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingChaosEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingNtfEntranceEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingChaosEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingTeamEntrance.cs
Labels: Transpiler

#251 feat: SSSS (Server Specific Settings System)
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.API/Features/Core/UserSettings/ButtonSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/DropdownSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/HeaderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/KeybindSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TextInputSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TwoButtonsSetting.cs
  EXILED/Exiled.API/Interfaces/IWrapper.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Events/Server/WaitingForPlayers.cs
Labels: Transpiler, API

#318 feat: ChangingDisruptorMode event
  EXILED/Exiled.API/Enums/DisruptorMode.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingDisruptorModeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingDisruptorMode.cs
Labels: Transpiler, API

#320 feat!: Update for new release
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  EXILED/Exiled.API/Features/Items/Jailbird.cs
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Pickups/MicroHIDPickup.cs
  EXILED/Exiled.CustomItems/API/Features/CustomGrenade.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMicroHIDStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/FillingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
  EXILED/Exiled.Events/Patches/Events/Scp3114/Slapped.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/PlayingFootstep.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/LockerFixes.cs
Labels: Transpiler, API, base-game-bug, CustomModules

#322 fix: fix
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

#323 fix: all
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Pickups/MicroHIDPickup.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
Labels: Transpiler, API

#324 feat: add Scp1507Role
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
Labels: API

#288 feat: [😭] Firearm `AmmoModules` Api
  EXILED/Exiled.API/Enums/RevolverChamberState.cs
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/AutomaticBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/BarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/PumpBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Magazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/CylinderMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/NormalMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/PrimaryMagazine.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
  EXILED/Exiled.Events/EventArgs/Player/RotatingRevolverEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/RotatingRevolver.cs
  EXILED/Exiled.Events/Patches/Generic/AmmoDrain.cs
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: Transpiler, API, CustomModules

#329 fix: Possible fix of NRE in SSSS
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

#332 docs: fixed a letter in the summary of ``bool TryGetSetting<T>(Player, int, out T)``
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: documentation

#340 fix: Player comparing (`GetHashCode`)
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
Labels: Events, API

#337 refactor: remove `SlownessFix`
  EXILED/Exiled.Events/Patches/Fixes/SlownessFix.cs
Labels: Transpiler, base-game-bug

#319 feat: Speaker update
  EXILED/Exiled.API/Features/Toys/Speaker.cs
Labels: API

#325 feat: Xmas 2024 from xmas 2023
  EXILED/Exiled.API/Enums/DamageType.cs
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Enums/SpawnReason.cs
  EXILED/Exiled.API/Extensions/DamageTypeExtensions.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/Coffee.cs
  EXILED/Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Scp3114Ragdoll.cs
  EXILED/Exiled.API/Features/Scp559.cs
  EXILED/Exiled.API/Features/Scp956.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp1507Event.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp559Event.cs
  EXILED/Exiled.Events/EventArgs/Player/DrinkingCoffeeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/AttackingDoorEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/ScreamingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/SpawningFlamingosEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/FindingPositionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/GrantingGiftEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/OpeningGiftEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/InteractingScp559EventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/SpawningEventArgs.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Handlers/Scp1507.cs
  EXILED/Exiled.Events/Handlers/Scp2536.cs
  EXILED/Exiled.Events/Handlers/Scp559.cs
  EXILED/Exiled.Events/Patches/Events/Player/DrinkingCoffee.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/AttackingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/Scream.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/SpawningFlamingos.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/FindingPosition.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/GrantingGift.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/OpeningGift.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Interacting.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Spawning.cs
  EXILED/Exiled.Events/Patches/Generic/CoffeeListAdd.cs
  EXILED/Exiled.Events/Patches/Generic/Scp559List.cs
  EXILED/Exiled.Events/Patches/Generic/Scp956Capybara.cs
Labels: Transpiler, API, base-game-bug

#346 fix: RoomLightControllersValue Fix
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/RoomLightControllersList.cs
Labels: Transpiler, API

#338 fix(feat theoretically): Many bugfixes
  EXILED/Exiled.API/Features/Items/Armor.cs
  EXILED/Exiled.API/Features/Items/ExplosiveGrenade.cs
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FlashGrenade.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Jailbird.cs
  EXILED/Exiled.API/Features/Items/Keycard.cs
  EXILED/Exiled.API/Features/Items/Scp244.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/BodyArmorPickup.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/FixOnAddedBeingCallAfterOnRemoved.cs
Labels: Transpiler, API, base-game-bug

#343 fix: Reloading/Unloading weapon events
  EXILED/Exiled.Events/EventArgs/Player/ReloadingWeaponEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UnloadingWeaponEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/ReloadingWeapon.cs
  EXILED/Exiled.Events/Patches/Events/Player/UnloadingWeapon.cs
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: Transpiler

#341 fix: Player.IsSpeaking and TeslaGate.IsPlayerInHurtRange
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/TeslaGate.cs
Labels: API

#345 feat: Adding tape using event
  EXILED/Exiled.Events/EventArgs/Scp1507/UsingTapeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp1507.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/TapeUsing.cs
Labels: Transpiler

#342 fix: RespawningTeam Fix Index
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
Labels: Transpiler

#331 docs: Localized German
  .github/README.md
Labels: GitHub

#106 feat: Add RemainingDecontaminationTime property
  EXILED/Exiled.API/Features/Map.cs
Labels: API

#172 fix: `[EXILED::Events]` Fixed the `ChangingRoleAndSpawned.ChangeInventory` NullReferenceException skill issue
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Loader/Loader.cs
Labels: Transpiler

#335 feat: Add Chamber.IsOpen
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: API

#333 fix: fix for SettingBase and OriginalDefinition nres
  EXILED/Exiled.API/Features/Core/UserSettings/ButtonSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/DropdownSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TwoButtonsSetting.cs
Labels: API

#350 fix: Fix Room Logic for FlickerableLight API
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/RoomList.cs
Labels: Transpiler, API

#351 fix: FixNWDisarmCommand
  EXILED/Exiled.Events/Patches/Fixes/FixNWDisarmCommand.cs
Labels: Transpiler, base-game-bug

#347 fix: ChangingAttachments transpiler
  EXILED/Exiled.Events/EventArgs/Item/ChangingAttachmentsEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/ChangingAttachments.cs
Labels: Transpiler

#353 fix: SetFakeScale doesnt execute with currentScale
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#193 feat(ActivatingEventArgs): KnobStatus
  EXILED/Exiled.Events/EventArgs/Scp914/ActivatingEventArgs.cs
Labels: Events

#355 refactor: Modify Item::Create(ItemType)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
Labels: API

#354 fix: Snow Ball & Coal not being throwable when create by Exiled
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
Labels: API

#189 feat: `[Exiled::API]` StopDancing and StartDancing for SCP-3114 Role
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerSideDancesPatch.cs
  EXILED/Exiled.Example/Commands/Test.cs
Labels: Transpiler, API, base-game-bug

#330 feat: Add and remove influence
  EXILED/Exiled.API/Features/Respawn.cs
Labels: API

#358 fix: LockerSpawnpoint in CustomItem
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: API, CustomModules

#336 feat(fix): related things
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/PumpBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/NormalMagazine.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerHubMicroHidFix.cs
  EXILED/Exiled.Events/Patches/Generic/AmmoDrain.cs
  EXILED/Exiled.Events/Patches/Generic/RoomLightControllersList.cs
  EXILED/Exiled.Events/Patches/Generic/RoomList.cs
Labels: Transpiler, API, base-game-bug

#359 fix: Fixing merged pr 189 & #342 & #355
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.Events/EventArgs/Scp3114/DancingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerSideDancesPatch.cs
Labels: bug, Transpiler, API

#361 feat: Fetching dev
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler, API
