Repository ExMod-Team/EXILED, pull requests merged in 2024-08, with the labels that each got.

#6 `[Exiled::API]` Added WhitelistedPlayers, SetIntercomDisplayTextForTargetOnly and ResetIntercomDisplayText
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Server.cs
Labels: regarding-api

#7 Adding auto assignment to pr
  .github/workflows/pull_request_opened.yml
Labels: GitHub

#23 dev must be fetched
  .github/workflows/docs.yml
  .github/workflows/pull_request_opened.yml
Labels: GitHub, Installer

#10 Pull request template
  .github/pull_request_template.md
Labels: GitHub

#5 `[Exiled::API]` Adding new methods for adding and setting ammo
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#26 Merge Master To Dev
  .github/pull_request_template.md
  .github/workflows/pull_request_opened.yml
Labels: GitHub

#18 AdminToy.List
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Toys/AdminToy.cs
  EXILED/Exiled.Events/Handlers/Internal/SceneUnloaded.cs
Labels: regarding-events, regarding-api

#12 Fix `Jailbird::WearState`
  EXILED/Exiled.API/Features/Items/Jailbird.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Item/SwingingEventArgs.cs
  EXILED/Exiled.Events/Patches/Fixes/Jailbird914CoarseFix.cs
Labels: regarding-events, regarding-transpiler, regarding-api, base-game-bug

#22 Fix not returning null
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#20 RecontainedEventArgs more feature
  EXILED/Exiled.Events/EventArgs/Scp079/RecontainedEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/Recontain.cs
Labels: regarding-events, regarding-transpiler

#41 Update README.md to match with new repo
  .github/README.md
Labels: documentation, GitHub

#30 InteractingScp330.cs: Reduction of bloat code from original design.
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: regarding-events, regarding-transpiler

#9 PR than i made
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Camera.cs
  EXILED/Exiled.API/Features/Doors/AirlockController.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Generator.cs
  EXILED/Exiled.API/Features/Hazards/Hazard.cs
  EXILED/Exiled.API/Features/Items/Ammo.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Ragdoll.cs
  EXILED/Exiled.API/Features/Recontainer.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Roles/Scp049Role.cs
  EXILED/Exiled.API/Features/Roles/Scp079Role.cs
  EXILED/Exiled.API/Features/Roles/Scp096Role.cs
  EXILED/Exiled.API/Features/Roles/Scp106Role.cs
  EXILED/Exiled.API/Features/Roles/Scp173Role.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.API/Features/Roles/Scp939Role.cs
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.API/Features/TeslaGate.cs
  EXILED/Exiled.API/Features/Window.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningItem.cs
  EXILED/Exiled.Events/Patches/Events/Player/Escaping.cs
  EXILED/Exiled.Events/Patches/Events/Server/Reporting.cs
  EXILED/Exiled.Events/Patches/Generic/GetCustomAmmoLimit.cs
  EXILED/Exiled.Events/Patches/Generic/GetCustomCategoryLimit.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#15 [Events] Fix null reference
  EXILED/Exiled.Events/EventArgs/Player/ChangingItemEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Healing.cs
Labels: regarding-events, regarding-transpiler

#19 Offline mode support
  EXILED/Exiled.API/Enums/AuthenticationType.cs
  EXILED/Exiled.API/Extensions/StringExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/Verified.cs
  EXILED/Exiled.Events/Patches/Generic/OfflineModeIds.cs
Labels: bug, regarding-events, regarding-transpiler, regarding-api, base-game-bug

#32 Fix NW bugs
  EXILED/Exiled.Events/Patches/Fixes/ArmorDropPatch.cs
  EXILED/Exiled.Events/Patches/Fixes/Scp173FirstKillPatch.cs
  EXILED/Exiled.Events/Patches/Fixes/Scp173SecondKillPatch.cs
  EXILED/Exiled.Events/Patches/Fixes/SlownessFix.cs
Labels: regarding-events, regarding-transpiler, base-game-bug

#40 Useless Event (939 Placed Amnestic Cloud)
  EXILED/Exiled.Events/EventArgs/Scp939/PlacedAmnesticCloudEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp939.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/PlacedAmnesticCloud.cs
Labels: regarding-events, regarding-transpiler

#24 Fix custom role classes giving custom ammo when they are not suppose to
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: bug

#17 `Item::<T>Get()` and `Pickup::<T>Get()`
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Hazards/Hazard.cs
  EXILED/Exiled.API/Features/Items/ExplosiveGrenade.cs
  EXILED/Exiled.API/Features/Items/FlashGrenade.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp018.cs
  EXILED/Exiled.API/Features/Items/Scp2176.cs
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.API/Features/Items/Throwable.cs
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/TeslaGate.cs
  EXILED/Exiled.API/Features/Toys/AdminToy.cs
  EXILED/Exiled.CustomItems/Patches/PlayerInventorySee.cs
  EXILED/Exiled.Events/EventArgs/Item/ChangingAttachmentsEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/Scp244SpawningEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/CancellingItemUseEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMicroHIDStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingRadioPresetEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppedItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ThrowingRequestEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ThrownProjectileEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/TogglingFlashlightEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/TogglingRadioEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingRadioBatteryEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp096/StartPryingGateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp244/UsingScp244EventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp330/DroppingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/ChangingAttachments.cs
  EXILED/Exiled.Events/Patches/Events/Map/Scp244Spawning.cs
  EXILED/Exiled.Events/Patches/Events/Player/DroppingItem.cs
  EXILED/Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  EXILED/Exiled.Events/Patches/Fixes/GrenadePropertiesFix.cs
  EXILED/Exiled.Events/Patches/Generic/DoorList.cs
  EXILED/Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#34 FixNpcNoclip
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#3 Implements more patches for RemovingHandcuffs event and adding RemovedHandcuffs event
  EXILED/Exiled.API/Enums/UncuffReason.cs
  EXILED/Exiled.Events/EventArgs/Player/RemovedHandcuffsEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/RemovingHandcuffsEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ProcessDisarmMessage.cs
Labels: bug, regarding-events, regarding-transpiler, regarding-api, requires-testing

#43 Interacting scp330 compile fix
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: regarding-events, regarding-transpiler

#29 Additions
  EXILED/Exiled.API/Enums/HazardType.cs
  EXILED/Exiled.API/Extensions/BitwiseExtensions.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Hazards/AmnesticCloudHazard.cs
  EXILED/Exiled.API/Features/Hazards/Hazard.cs
  EXILED/Exiled.API/Features/Hazards/SinkholeHazard.cs
  EXILED/Exiled.API/Features/Hazards/TantrumHazard.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/PrefabHelper.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Server.cs
  EXILED/Exiled.Events/Commands/TpsCommand.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: enhancement, regarding-events, regarding-api, requires-testing

#46 `[EXILED::API]` Pickup::Category
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#54 `[Exiled::API]` Removing breaking changes
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#55 `Scp330` sound fix
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: bug, regarding-events, regarding-transpiler

#58 Fix repeated calls
  EXILED/Exiled.API/Features/Npc.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#61 Fix breaking change
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#62 v8.12.0-rc.3
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#21 Added the SCP-079 Recontaining event
  EXILED/Exiled.Events/EventArgs/Scp079/RecontainingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp079.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/Recontaining.cs
Labels: regarding-events, regarding-transpiler

#47 `[EXILED::API]` Adding SpawnMice
  EXILED/Exiled.API/Features/Map.cs
Labels: regarding-api

#49 `[EXILED::API]` Adding ScaleNetworkIdentityObject
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api

#45 `[EXILED::API]` Adding SendFakeSceneLoading
  EXILED/Exiled.API/Enums/ScenesType.cs
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Server.cs
Labels: regarding-api

#64 Little StaffMessageFix
  EXILED/Exiled.API/Features/Player.cs
Labels: regarding-api

#73 `Scp018projectile` chages
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
Labels: regarding-api

#51 😱😎🙂💀😈
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.Events/Patches/Generic/DoorList.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#70 `KeycardPickup.Permissions` now is not joke
  EXILED/Exiled.Events/EventArgs/Item/KeycardInteractingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/KeycardInteracting.cs
Labels: regarding-events, regarding-transpiler

#68 `[Exiled::Events]` `Unbanning` and `Unbanned` events
  EXILED/Exiled.Events/EventArgs/Server/UnbannedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/UnbanningEventArgs.cs
  EXILED/Exiled.Events/Handlers/Server.cs
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
Labels: regarding-events, regarding-transpiler

#71 `[EXILED::API]` Adding StaminaRegenMultiplier (BodyArmor)
  EXILED/Exiled.API/Features/Items/Armor.cs
  EXILED/Exiled.API/Features/Pickups/BodyArmorPickup.cs
  EXILED/Exiled.Events/Patches/Generic/StaminaRegenArmor.cs
Labels: regarding-events, regarding-transpiler, regarding-api

#48 `[EXILED::API]` Adding MoveNetworkIdentityObject
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api

#69 `[EXILED::EVENTS]` Adding PlayingAudioLog
  EXILED/Exiled.Events/EventArgs/Player/PlayingAudioLogEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/PlayingAudioLog.cs
Labels: regarding-events, regarding-transpiler

#16 `RecontainedWhenNoScps` feature
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/Patches/Events/Player/ActivatingWorkstation.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingDangerState.cs
  EXILED/Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
  EXILED/Exiled.Events/Patches/Events/Scp096/CalmingDown.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/BlinkingRequest.cs
  EXILED/Exiled.Events/Patches/Events/Server/AddingUnitName.cs
  EXILED/Exiled.Events/Patches/Generic/ParseVisionInformation.cs
  EXILED/Exiled.Events/Patches/Generic/Scp079Recontain.cs
Labels: regarding-events, regarding-transpiler

#59 `[EXILED::EVENTS]` Fixing bug report n.396
  EXILED/Exiled.Events/Patches/Fixes/NWFixDetonationTimer.cs
Labels: regarding-events, regarding-transpiler

#82 Added IsDecontaminationEnabled property
  EXILED/Exiled.API/Features/Map.cs
Labels: regarding-api

#79 UwU
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.CustomItems/CustomItems.cs
  EXILED/Exiled.CustomItems/Events/MapHandler.cs
  EXILED/Exiled.Events/EventArgs/Player/KillingPlayerEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: regarding-events, regarding-transpiler, regarding-api
