Repository ExMod-Team/EXILED, pull requests merged in 2024-10, with the labels that each got.

#108 Update github actions references
  .github/dependabot.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/programs.yml
  .github/workflows/push_nuget.yml
  .github/workflows/release.yml
Labels: GitHub, Events

#136 Update docfx.json
  EXILED/docs/docfx.json
Labels: GitHub

#139 Halloween Update
  EXILED/Exiled.Loader/AutoUpdateFiles.cs
Labels: Events

#143 Dev
  EXILED/Exiled.Events/Commands/Hub/Install.cs
  EXILED/Exiled.Loader/AutoUpdateFiles.cs
Labels: Events

#141 halloween!!!
  EXILED/Exiled.API/Enums/DamageType.cs
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Enums/PrefabType.cs
  EXILED/Exiled.API/Extensions/DamageTypeExtensions.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/CustomHealthStat.cs
  EXILED/Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  EXILED/Exiled.API/Features/Hazards/Hazard.cs
  EXILED/Exiled.API/Features/Hazards/PrismaticCloudHazard.cs
  EXILED/Exiled.API/Features/Hazards/TantrumHazard.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Marshmallow.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
Labels: Events, API

#124 Fix `InteractingScp330EventArgs::Candy`
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Events, Transpiler, API

#144 Dev
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Events, Transpiler, API

#145 Halloween 2024 ex mod
  EXILED/EXILED.props
  EXILED/Exiled.API/Enums/PrefabType.cs
Labels: Events, API

#147 fix
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: Events, Transpiler, API

#135 ``[EXILED::API]`` Fixing NPC PlayerId assignment
  EXILED/Exiled.API/Features/Npc.cs
Labels: Events, API

#148 `[Exiled::Events]` Spawned event fix
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: Events, Transpiler

#150 Halloween 2024 - Health bar
  EXILED/Exiled.Events/Patches/Fixes/HumanMaxHealth.cs
Labels: Events, Transpiler, base-game-bug

#151 wtf is `OrangeWitness`💀
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
Labels: bug, Events, API

#149 Bug fix + request
  EXILED/Exiled.Events/Patches/Events/Server/Reporting.cs
  EXILED/Exiled.Loader/Loader.cs
Labels: Events, Transpiler

#155 Added TpsFix
  EXILED/Exiled.Events/Patches/Fixes/VoiceChatTpsFix.cs
Labels: Events, Transpiler, base-game-bug

#86 Add round end feature
  EXILED/Exiled.API/Features/Round.cs
  EXILED/Exiled.Events/EventArgs/Server/RoundEndedEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Events, Transpiler, API

#125 Readded the Placing Pickup Into Pocket Dimension Event (with Yamato's Patch)
  EXILED/Exiled.Events/EventArgs/Map/PlacingPickupIntoPocketDimensionEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/PlacingPickupIntoPocketDimension.cs
Labels: Events, Transpiler

#154 Fix `Spawned` event + no more breaking changes
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: Transpiler, API

#158 [Exiled.API] add gameobject and trasform to lockers
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
Labels: Events, API

#156 Fixing `Spawned` event on dev
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: Events, Transpiler

#161 Fixing custom health stat for human server side
  EXILED/Exiled.API/Features/CustomHealthStat.cs
  EXILED/Exiled.Events/Patches/Fixes/HumanMaxHealth.cs
Labels: bug, Events, Transpiler, API, base-game-bug

#162 GithubRateLimit Warn instead of Error
  EXILED/Exiled.Loader/Updater.cs
Labels: Events
