Repository ExMod-Team/EXILED, pull requests merged in 2025-08, with the labels that each got.

#599 fix: Custom Scp127 clipsizes causing desyncs
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

#600 fix: Firearm pickups spawning without ammo
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
Labels: API

#604 feat: more SSS for 14.1.3
  EXILED/Exiled.API/Features/Core/UserSettings/ButtonSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/DropdownSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/HeaderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/KeybindSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SliderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TwoButtonsSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/UserTextInputSetting.cs
Labels: API

#603 fix: ReceivingPreference, AnnouncingScpTermination, ChangedRoom, and Jumping transpilers and patches
  EXILED/Exiled.Events/EventArgs/Player/JumpingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangedRoom.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRadioPreset.cs
  EXILED/Exiled.Events/Patches/Events/Player/Jumping.cs
Labels: Transpiler

#608 fix: ChangingDisruptorMode transpiler location
  EXILED/Exiled.Events/EventArgs/Player/ChangingDisruptorModeEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingDisruptorMode.cs
Labels: Transpiler

#605 fix: Delete empty files
  EXILED/Exiled.Events/EventArgs/Scp079/StartingSpeakerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/StoppingSpeakerEventArgs.cs
Labels: Events

#521 feat: Custom Weapon Attachments additions.
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#614 feat: Ignored players removed from the Round Targets
  EXILED/Exiled.Events/Patches/Generic/RoundTargetCount.cs
Labels: Transpiler

#498 feat: Just adding an event i've made from apis-rework
  EXILED/Exiled.Events/EventArgs/Scp173/AddingObserverEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp173/RemovedObserverEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp173.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/Observers.cs
Labels: Transpiler

#617 feat: Add Saving By Anti207 event
  EXILED/Exiled.Events/EventArgs/Player/SavingByAntiScp207EventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/SavingByAntiScp207.cs
Labels: Transpiler

#623 fix: CheaterReport.SubmitReport not working
  EXILED/Exiled.Events/Patches/Fixes/CheaterReportFix.cs
Labels: Transpiler, base-game-bug

#628 fix: Fall damage not working
  EXILED/Exiled.Events/Patches/Events/Player/Jumping.cs
Labels: Transpiler

#625 fix: LeadingTeam incorrect enumeration fix
  EXILED/Exiled.API/Enums/LeadingTeam.cs
Labels: API
