Repository ExMod-Team/EXILED, pull requests merged in 2025-06, with the labels that each got.

#541 fix: fix being observed calling in reverse
  EXILED/Exiled.Events/Patches/Events/Scp173/BeingObserved.cs
Labels: Transpiler

#540 fix: CustomKeycard being blank and particle disruptor crashing
  EXILED/Exiled.CustomItems/API/Features/CustomKeycard.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: Transpiler, CustomModules

#548 Fix DroppedItem Event
  EXILED/Exiled.Events/Patches/Events/Player/DroppingItem.cs
Labels: Transpiler

#552 fix: Update repository URLs to reflect team name change
  .github/workflows/docs.yml
  .github/workflows/labapi.yml
  .github/workflows/main.yml
  .github/workflows/push_nuget.yml
  .github/workflows/release.yml
  EXILED/EXILED.props
  EXILED/Exiled.CreditTags/Features/DatabaseHandler.cs
  EXILED/Exiled.Installer/README.md
  EXILED/Exiled.Loader/Updater.cs
  EXILED/Exiled/Exiled.nuspec
  EXILED/docs/articles/contributing/index.md
  EXILED/docs/articles/installation/automatic/linux.md
  EXILED/docs/articles/installation/automatic/windows.md
  EXILED/docs/articles/installation/manual.md
  EXILED/docs/docfx.json
  EXILED/docs/toc.yml
Labels: GitHub, Installer

#553 fix: Update RepoID to reflect new repository identifier
  EXILED/Exiled.Installer/Program.cs
Labels: Installer

#560 fix: Critical CustomRole api Error & Invalid ragdoll error
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
Labels: Events, CustomModules

#572 fix: RemainingDecontaminationTime is wrong
  EXILED/Exiled.API/Features/Map.cs
Labels: API

#577 fix: Custom role ragdoll validate correction
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules
