Repository ExMod-Team/EXILED, pull requests merged in 2025-02, with the labels that each got.

#421 fix: Potential Error Fix With Custom Weapon Reloading
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

#428 fix: Fix Custom Roles Lagging Back When Spawning
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#432 feat: send to player specific settings
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

#429 fix: Npc cant get flashed
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: Transpiler

#419 feat: Server.IsHeavilyModded is Obsolete
  EXILED/Exiled.API/Features/Server.cs
Labels: API

#422 fix: Player Custom Firearm Reloading Exploit
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

#426 fix: Add SCP-1344 Effect to IsPositive Extension
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
Labels: API

#431 feat: added GameObject and Transform properties to AdminToy
  EXILED/Exiled.API/Features/Toys/AdminToy.cs
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
Labels: API

#424 fix: Fixing TriggeringTesla not detecting NPC
  EXILED/Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: Transpiler

#388 feat: Dynamic spawn location additions
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
Labels: API

#436 feat: Added ICommandSender to Kicking/Banning EventArgs
  EXILED/Exiled.Events/EventArgs/Player/BanningEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Banning.cs
  EXILED/Exiled.Events/Patches/Events/Player/Kicking.cs
Labels: Transpiler

#430 fix: randomized firearm attachments
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.Events/Patches/Generic/FirearmDistribution.cs
Labels: Transpiler, API

#439 LabAPI Update 14.0.3
  .github/workflows/labapi.yml
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/EscapingPocketDimensionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/FailingEscapePocketDimensionEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingPocketDimension.cs
  EXILED/Exiled.Events/Patches/Events/Player/FailingEscapePocketDimension.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingGenerator.cs
  EXILED/Exiled.Events/Patches/Fixes/LockerFixes.cs
  EXILED/Exiled.Loader/AutoUpdateFiles.cs
  EXILED/Exiled/Exiled.nuspec
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: GitHub, Transpiler, API, base-game-bug

#437 feat: Added method `Exiled.API.Features.Map.Clean`
  EXILED/Exiled.API/Features/Map.cs
Labels: API, base-game-bug

#441 fix: Fix NW Hypothermia bug
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
Labels: Events, base-game-bug

#444 fix: Command events fix
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidGameConsoleCommand.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidRACommand.cs
Labels: Transpiler

#445 feat: Have NPC In Player List
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#440 feat: Spawning NPCs via RA adds them to the `Npc.List`
  EXILED/Exiled.Events/Patches/Fixes/RemoteAdminNpcCommandAddToDictionaryFix.cs
Labels: Transpiler, base-game-bug

#442 fix: IntercomSpeaking event
  EXILED/Exiled.Events/Patches/Events/Player/IntercomSpeaking.cs
Labels: Transpiler

#446 feat: Added a list of players who are turned away from SCP-939 AmnesticCloud
  EXILED/Exiled.API/Features/Roles/Scp939Role.cs
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Generic/StayAtAmnesticCloud.cs
Labels: Transpiler, API

#451 revert: "feat: Added a list of players who are turned away from SCP-939 AmnesticCloud"
  EXILED/Exiled.API/Features/Roles/Scp939Role.cs
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Generic/StayAtAmnesticCloud.cs
Labels: Transpiler, API

#448 feat: `Player::TryRemoveCandy(CandyKindID)` method
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#447 feat: Map.Broadcast(ushort, Func<Player, string>) overload.
  EXILED/Exiled.API/Features/Map.cs
Labels: API
