Repository ExMod-Team/EXILED, pull requests merged in 2025-01, with the labels that each got.

#365 docs: Update Light Toy property descriptions
  EXILED/Exiled.API/Features/Toys/Light.cs
Labels: documentation

#367 fix: Exiled.API.Features.Scp914.Scp914InputObject return nothing & Exception in OnWaitingForPlayers
  EXILED/Exiled.API/Features/Scp914.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
Labels: Events, API

#373 fix: "OnDroppedAmmo" event does not trigger
  EXILED/Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
Labels: Transpiler

#370 fix!: Fixed MicroHID Dynamic Spawn Points and Lcz Reverse Door Fix
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
Labels: bug, API, breaking-changes

#374 fix: setting base deleting all other settings
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

#372 feat: ``Lift::Get(ElevatorGroup)``
  EXILED/Exiled.API/Features/Lift.cs
Labels: API

#377 fix: PlacingBulletHoleEventArgs::Position
  EXILED/Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
Labels: Transpiler

#378 fix: DryFiring fired constantly
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
Labels: Transpiler

#375 feat: Fix NPC Spawn
  EXILED/Exiled.API/Features/Npc.cs
Labels: API

#185 feat: Unbanned event addition
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
Labels: Transpiler, Requires Testing

#383 fix: Fix FF for explosions
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

#382 feat: ShadowType
  EXILED/Exiled.API/Features/Toys/Light.cs
Labels: API

#371 feat: DroppingAmmo, DroppedAmmo and InteractingDoor
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppedAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppingAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: Transpiler, CustomModules

#363 feat: CustomStats
  EXILED/Exiled.API/Features/CustomHealthStat.cs
  EXILED/Exiled.API/Features/CustomStats/CustomHumeShieldStat.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: enhancement, API, Requires Testing

#384 feat: LockerType extension
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
Labels: API

#368 feat: Fix OnInternalSpawning & Added ChargingJailbird setter (by BlackSerperior6)
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
Labels: Transpiler, CustomModules

#385 feat: `ExplodingGrenadeEventArgs::ExplosionType`
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
Labels: Events, Transpiler

#380 feat: elevator arrived event
  EXILED/Exiled.Events/EventArgs/Map/ElevatorSequencesUpdatedEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/ElevatorSequencesUpdated.cs
Labels: Transpiler

#390 fix: Crash from ChangeAppearance
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug

#393 fix: NRE on ``ElevatorSequencesUpdated::Lift``
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.Events/Patches/Fixes/FixElevatorChamberAwake.cs
Labels: Transpiler, API, base-game-bug

#316 feat: Objective wrappers
  EXILED/Exiled.API/Enums/ObjectiveType.cs
  EXILED/Exiled.API/Features/Objectives/EscapeObjective.cs
  EXILED/Exiled.API/Features/Objectives/GeneratorActivatedObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanDamageObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanKillObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanObjective.cs
  EXILED/Exiled.API/Features/Objectives/Objective.cs
  EXILED/Exiled.API/Features/Objectives/ScpItemPickupObjective.cs
  EXILED/Exiled.Events/EventArgs/Server/CompletingObjectiveEventArgs.cs
  EXILED/Exiled.Events/Handlers/Server.cs
  EXILED/Exiled.Events/Patches/Events/Server/CompletingObjective.cs
Labels: Transpiler, API

#394 doc: Only availaible for Christmas and AprilFools
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
Labels: API

#389 feat: DeadmanSwitchEventAndAPI
  EXILED/Exiled.API/Features/Warhead.cs
  EXILED/Exiled.Events/EventArgs/Warhead/DeadmanSwitchInitiatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Warhead.cs
  EXILED/Exiled.Events/Patches/Events/Warhead/DeadmanSwitchStart.cs
Labels: Transpiler, API

#159 feat: Recoded Player.OnPreAuthenticating wia patch
  EXILED/Exiled.Events/EventArgs/Player/PreAuthenticatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
Labels: Transpiler

#404 Obsoleted Value that do not exist in game anymore
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
Labels: API

#405 fix: Firearm::IsAimingPR362 Non Breaking Change IAdsModule
  EXILED/Exiled.API/Features/Items/Firearm.cs
Labels: API

#403 feat: Pr133 Usable change
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#400 feat: PR 133 / Added Scp079 Signal Event
  EXILED/Exiled.Events/EventArgs/Scp079/LosingSignalEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/LostSignalEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/StartingSpeakerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/StoppingSpeakerEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp079.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/Lost.cs
Labels: Transpiler

#409 fix: Updated ItemExtension & Missing Obsolete
  EXILED/Exiled.API/Enums/ProjectileType.cs
  EXILED/Exiled.API/Extensions/ItemExtensions.cs
  EXILED/Exiled.API/Features/Coffee.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.Events/EventArgs/Player/DrinkingCoffeeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/DrinkingCoffee.cs
  EXILED/Exiled.Events/Patches/Generic/CoffeeListAdd.cs
Labels: Transpiler, API

#410 fix: FixNRE when ShootingTargetToy.Get(null)
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
Labels: API

#411 fix: CustomItem Spawn Command
  EXILED/Exiled.CustomItems/Commands/Spawn.cs
Labels: CustomModules

#402 feat: PR-133-FakeAppearance
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Extensions/ReflectionExtensions.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Roles/HumanRole.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp0492Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
  EXILED/Exiled.Events/EventArgs/Player/SendingRoleEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Generic/RoleAppearance.cs
Labels: Transpiler, API

#417 fix: `Room::NearestRooms` fix
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/DoorList.cs
Labels: bug, API

#418 fix: Fixes Custom Weapon Reload
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

#416 feat: UserTextInputSetting and SliderSetting
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SliderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/UserTextInputSetting.cs
Labels: API
