Repository ExMod-Team/EXILED, pull requests merged in 2025-09, with the labels that each got.

#630 fix: CustomRole keep position on spawn
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#638 feat: version type select
  EXILED/Exiled.Installer/Program.cs
  EXILED/Exiled.Installer/Properties/Resources.Designer.cs
  EXILED/Exiled.Installer/Properties/Resources.resx
  EXILED/Exiled.Loader/Models/NewVersion.cs
  EXILED/Exiled.Loader/Updater.cs
Labels: Installer

#615 feat: PlaceBlood extensions
  EXILED/Exiled.API/Enums/BloodType.cs
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#639 fix: MicroHIDOpeningDoor event fix
  EXILED/Exiled.Events/EventArgs/Player/MicroHIDOpeningDoorEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/MicroHIDOpeningDoor.cs
Labels: Transpiler

#640 fix: Hurt and Hurting Attacker property fix
  EXILED/Exiled.Events/EventArgs/Player/HurtEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/HurtingEventArgs.cs
Labels: Events

#641 fix: Quick Fix
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: Events

#433 feat: Implement IPickupEvent to ExplodingGrenadeEventArgs and ChangedIntoGrenadeEventArgs
  EXILED/Exiled.Events/EventArgs/Map/ChangedIntoGrenadeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
Labels: Events

#642 fix: Cassie fixes
  EXILED/Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingTeamEntrance.cs
Labels: Transpiler, API

#645 feat: Scp sl update 14.1.4
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Ragdoll.cs
  EXILED/Exiled.API/Features/Window.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawnedRagdollEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
  EXILED/Exiled.Events/Patches/Fixes/CheaterReportFix.cs
  EXILED/Exiled.Events/Patches/Fixes/FixNW914DuplicationBug.cs
Labels: Transpiler, API, base-game-bug

#646 feat: Add Intercom TrySetOverride(Player, bool) and HasOverride(Player)
  EXILED/Exiled.API/Features/Intercom.cs
Labels: API
