Repository ExMod-Team/EXILED, pull requests merged in 2025-03, with the labels that each got.

#455 docs: Broadcast description fix
  EXILED/Exiled.API/Features/Broadcast.cs
Labels: documentation, API

#454 feat: Add Message API
  EXILED/Exiled.API/Enums/MessageType.cs
  EXILED/Exiled.API/Features/Message.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#450 fix: Fix ci locker spawns
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Spawn/LockerSpawnPoint.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug, enhancement, API, CustomModules

#457 docs: Typo in DoorLockType.cs
  EXILED/Exiled.API/Enums/DoorLockType.cs
Labels: documentation

#458 fix: CurrentItem for MicroHID
  EXILED/Exiled.API/Features/Player.cs
Labels: API, base-game-bug

#460 docs: Grammatical Corrections for a EnableEffect (but it targets the right branch)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#462 fix: NeverExistDoor
  EXILED/Exiled.API/Enums/DoorType.cs
Labels: API

#461 feat: StaffMessage(string, Player)
  EXILED/Exiled.API/Features/Map.cs
Labels: API
