Repository ExMod-Team/EXILED, pull requests merged in 2025-04, with the labels that each got.

#470 fix: animation curve extensions
  EXILED/Exiled.API/Extensions/CommonExtensions.cs
Labels: API

#467 docs: Update Descriptions for AmnesiaItems and AmnesiaVision
  EXILED/Exiled.API/Enums/EffectType.cs
Labels: API

#463 fix: InteractingDoorEvent::CanInteract
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: Transpiler

#471 fix: Jailbird not getting Recheck Usage when setting it
  EXILED/Exiled.API/Features/Items/Jailbird.cs
Labels: API

#466 feat: Add new event MicroHIDOpeningDoorEventArgs
  EXILED/Exiled.Events/EventArgs/Player/MicroHIDOpeningDoorEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/MicroHIDOpeningDoor.cs
Labels: Transpiler

#386 fix: PlayGunSound Extensions fix
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#492 feat: New Player::AddRegeneration method
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#489 fix: InvalidOperationException in UnregisterItems
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: CustomModules

#452 fix: use basegame validation for CustomInfo
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#494 feat: Warhead with more interaction
  EXILED/Exiled.API/Features/Warhead.cs
Labels: API

#488 feat: AttackAbility HitEvents
  EXILED/Exiled.Events/EventArgs/Player/HitEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/Hit.cs
Labels: Transpiler

#475 feat: changing connectors
  EXILED/Exiled.Events/EventArgs/Map/SpawningRoomConnectorEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningRoomConnector.cs
Labels: Transpiler

#362 feat: DisruptorFiring event addition
  EXILED/Exiled.Events/EventArgs/Item/DisruptorFiringEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
  EXILED/Exiled.Events/Patches/Events/Item/DisruptorFiring.cs
Labels: Transpiler

#420 fix: fixed npc health
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.CustomRoles/Commands/Give.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: Transpiler, API, CustomModules

#477 feat: Custom limits for armor & virtual dmg for customweapon
  EXILED/Exiled.CustomItems/API/Features/CustomArmor.cs
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

#478 feat: New argument specifying whether breakneckspeed is turned on or off
  EXILED/Exiled.Events/EventArgs/Scp173/UsingBreakneckSpeedsEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/UsingBreakneckSpeeds.cs
Labels: Transpiler

#476 feat: add methods to register and unregister SSSS to specified players
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

#486 feat: Fix wrong arg & Scp1344 Status change Prefix/Postfix to Transpiler
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangedStatusEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangingStatusEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp1344/Status.cs
Labels: Transpiler

#491 fix: Server.Name refresh method
  EXILED/Exiled.API/Features/Server.cs
Labels: API

#396 feat(Speaker): add transform create
  EXILED/Exiled.API/Features/Toys/Speaker.cs
Labels: API

#504 fix: activating warhead panel event fix
  EXILED/Exiled.Events/Patches/Events/Player/ActivatingWarheadPanel.cs
Labels: Transpiler

#511 fix: ChangingCamera event
  EXILED/Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
Labels: Transpiler

#512 fix: useless fix now & prevent crash
  EXILED/Exiled.Events/Patches/Fixes/ArmorDropPatch.cs
Labels: Transpiler, base-game-bug

#513 fix: EndingRound event IsAllowed
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

#514 fix: few fixes
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/KeycardInteracting.cs
Labels: Transpiler

#516 fix: some fixes for 14.1
  EXILED/Exiled.Events/EventArgs/Player/EscapingPocketDimensionEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingPocketDimension.cs
  EXILED/Exiled.Events/Patches/Events/Player/Landing.cs
  EXILED/Exiled.Events/Patches/Events/Player/ProcessDisarmMessage.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidGameConsoleCommand.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidRACommand.cs
Labels: Transpiler

#518 fix: custom weapons not doing default damage when set to below 0
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules
