Repository ExMod-Team/EXILED, pull requests merged in 2025-07, with the labels that each got.

#583 fix: CustomRoles GotRoleHint.Show config
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#579 feat: Add UpgradedInventoryItem and UpgradedPickup on Scp914
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradedInventoryItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradedPickupEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp914.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradedPickup.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradedPlayer.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPickup.cs
  EXILED/Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: Transpiler

#556 feat: New Changed Aspect Ratio Event & Player::AspectRatio Property
  EXILED/Exiled.API/Enums/AspectRatioType.cs
  EXILED/Exiled.API/Extensions/FloatExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangedRatioEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangedAspectRatio.cs
Labels: Transpiler, API

#584 fix: Fix IsWeapon() did not check for jailbird
  EXILED/Exiled.API/Extensions/DamageTypeExtensions.cs
  EXILED/Exiled.API/Extensions/ItemExtensions.cs
Labels: API

#568 feat: Add Exiled.API.Features.Workstation
  EXILED/Exiled.API/Features/Workstation.cs
  EXILED/Exiled.Events/Patches/Generic/WorkstationListAdd.cs
Labels: Transpiler, API

#578 feat: Rework and Fix Custom Role Spawn Logic & Limits
  EXILED/Exiled.CustomRoles/API/Extensions.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.CustomRoles/CustomRoles.cs
  EXILED/Exiled.CustomRoles/Events/PlayerHandlers.cs
Labels: CustomModules

#586 fix: fix goofy goober code Yamato didn't proofread
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.CustomRoles/Events/PlayerHandlers.cs
Labels: CustomModules

#567 feat: Add Ragdoll features & readability
  EXILED/Exiled.API/Features/Ragdoll.cs
Labels: API

#585 fix: bug with not tracking limit of spawned players in custom roles
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

#559 feat: New Scp049 Finishing Sense Event
  EXILED/Exiled.Events/EventArgs/Scp049/FinishingSenseEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp049.cs
  EXILED/Exiled.Events/Patches/Events/Scp049/FinishingSense.cs
Labels: Transpiler

#576 feat: RemovingTarget event for 096
  EXILED/Exiled.Events/EventArgs/Scp096/RemovingTargetEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp096.cs
  EXILED/Exiled.Events/Patches/Events/Scp096/RemovingTarget.cs
Labels: Transpiler

#589 fix: Escaping Exiled and LabAPI bug different way
  EXILED/Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/EscapingAndEscaped.cs
Labels: Transpiler

#507 feat: Add ragdoll to died event
  EXILED/Exiled.Events/EventArgs/Player/DiedEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/DyingAndDied.cs
Labels: Transpiler

#561 feat: Generic damage handler add new value
  EXILED/Exiled.API/Enums/DamageType.cs
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

#597 feat: All players spawned2
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Server.cs
Labels: Events

#473 feat: Item::Inspected Item::Inspecting & Scp939::PlacingMimicPoint
  EXILED/Exiled.Events/EventArgs/Item/InspectedItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Item/InspectingItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp939/PlacingMimicPointEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
  EXILED/Exiled.Events/Handlers/Scp939.cs
  EXILED/Exiled.Events/Patches/Events/Item/Inspect.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/PlacingMimicPoint.cs
Labels: Transpiler

#523 feat: Add PermissionsPolicy and RequireAllPermissions in Door
  EXILED/Exiled.API/Features/Doors/Door.cs
Labels: API
